<!DOCTYPE html>
<html lan="en">
    <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Samuel's Portfolio</title>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>
    <header>
        <h1>Samuel Mandel</h1>
    </header>
    <nav>
        <a href="#projects">Projects</a>
        <a href="#skills">Skills</a>
        <a href="#about">About Me</a>
        <a href="#contactMe">Contact Me</a>
    </nav>
    <main class="container-fluid">
      <section>
      <aside>
        <h2 id="projects">Projects</h2>
      </aside>
      <div class="projects" >
        {{{body}}}
      </div>
      </section>
      <section>
      <aside>
        <h2 id="skills">Skills</h2>
      </aside>
      <div></div>
      </section>
      <section>
      <aside>
        <h2 id="about">About Me</h2>
      </aside>
      <div></div>
      </section>
      <section>
      <aside>
        <h2 id="contactMe">Contact Me</h2>
      </aside>
      <div></div>
      </section>
  </main>
</body>
</html>