<!DOCTYPE html>
<html lan="en">
    <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Samuel's Portfolio</title>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>
    <header>
        <h1>Samuel Mandel</h1>
    </header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#projects">Projects <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about">About me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contactMe">Contact Me</a>
          </li>
        </ul>
      </div>
    </nav>
    <main class="container-fluid">
       <section>
      <aside>
        <h2 id="about">About Me</h2>
      </aside>
      <div></div>
      </section>
      <hr>
      <section>
      <aside>
        <h2 id="projects">Projects</h2>
      </aside>
      <div class="projects" >
        {{{body}}}
      </div>
      </section>
      {{!-- <section>
      <aside>
        <h2 id="skills">Skills</h2>
      </aside>
      <div></div>
      </section>
      --}}
      <footer class="align-bottom bg-dark">
        <h3 id="contactMe" class="display-4">Contact Me</h3>
        <ul>
          <li><a href="https://github.com/Sambalogna">Github</a></li>
          <li><a href="https://www.linkedin.com/in/samuel-lazaro-mandel/">LinkedIn</a></li>
          <li><a href="/assets/resume.pdf">Resume</a></li>
        </ul>
      </footer>
  </main>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>

</html>