body {
    background-color: aliceblue;
    
}
#myName{
    font-family: 'Oswald', sans-serif;
}

.card {
    padding: 1%;
    margin: 2%;
}
footer{
    position: relative;
    left:0;
    bottom: 0;
    width: 100%;
    color: aliceblue;
    text-align: center;
    font-family: 'Oswald', sans-serif;
   
}

footer li {
    list-style: none;
    display: inline;
    
}
footer li a {
    text-decoration: none;
    color: aliceblue;
}
footer li a:hover {
    color:crimson
}